@model MonksInn.Backend.Models.PricingStructure.IndexViewModel
@{
    ViewData["Title"] = "Pricing Structure";
    ViewData["ActiveNav"] = "Pricing Structure";
}


@section ContextButtons{
}

<h3>Wholesale Pricing</h3>
<div class=" clearfix mb-2">
    <div class="float-left form-inline">
        <input type="text" id="WholeSaleSearch" class="form-control form-control-sm  mr-2" placeholder="Search" />
    </div>
    <div class="float-right">
        @if (User.HasAccess(SystemPermission.CanAddUpdatePricingStructure))
        {
            <a class="btn btn-sm btn-primary mr-2" href="@Url.Action("AddWholesale")">Add Wholesale Price</a>
        }
    </div>

</div>

<div class="table-responsive mb-4" style="max-height: 600px;">
    <table class="table table-sm table-hover" id="WholeSalePricingStructureTable">
        <thead>
            <tr>
                <th>Unit Size</th>
                <th class="text-right">Default Wholesale Markup</th>
                <th class="text-center pinch">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.WholesalePrices)
            {
                <tr>
                    <td class="">@(item.WholeSaleUnitSize ?? "All")</td>
                    <td class="text-right">@item.WholeSaleDefaultFlatMarkup</td>
                    <td class="text-right pinch ignorefilter">
                        @if (User.HasAccess(SystemPermission.CanAddUpdatePricingStructure))
                        {
                            <a class="btn btn-xs btn-outline-primary" href="@Url.Action("UpdateWholesale", new { id= item.Id })">Update</a>
                        }
                        @if (User.HasAccess(SystemPermission.CanArchivePricingStructure))
                        {
                            <a class="btn btn-xs btn-outline-danger" href="#" onclick="ConfirmDelete('@Url.Action("Archive",  new { id = item.Id })', 'The @($"default wholesale price for a {item.WholeSaleUnitSize} at {item.WholeSaleDefaultFlatMarkup} markup")')">Archive</a>
                        }
                        </td>
                    @*<td class="text-center"></td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
<h3>Retail Pricing</h3>
<div class=" clearfix mb-2">
    <div class="float-left form-inline">
        <input type="text" id="RetailSearch" class="form-control form-control-sm  mr-2" placeholder="Search" />
    </div>
    <div class="float-right">
        @if (User.HasAccess(SystemPermission.CanAddUpdatePricingStructure))
        {
            <a class="btn btn-sm btn-primary mr-2" href="@Url.Action("AddRetail")">Add Retail Price</a>
        }
        </div>

</div>

<div class="table-responsive" style="max-height:600px;">
    <table class="table table-sm table-hover" id="RetailPricingStructureTable">
        <thead>
            <tr>
                <th class="">Beer Type</th>
                <th class="text-center" colspan="3">ABV</th>
                <th class="text-right">Default Retail Price</th>
                <th class="text-center pinch">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                var oldabv = 0.00m;
                BeerType? oldbeertype = null;
            }
            @foreach (var item in Model.RetailPrices)
            {
                if (oldbeertype != item.RetailBeerType)
                {
                    oldbeertype = item.RetailBeerType;
                    oldabv = 0.00m;
                }

                <tr>
                    <td>@(item.RetailBeerType?.GetDisplayName() ?? "All")</td>
                    <td class="text-right pr-1 pinch">@oldabv%</td>
                    <td class="text-center pl-0 pr-0 pinch">-</td>
                    <td class="text-left pl-1 pinch">@item.RetailAbvLimit%</td>
                    <td class="text-right">@item.RetailDefaultAbvPrice</td>
                    <td class="text-right pinch ignorefilter">
                        @if (User.HasAccess(SystemPermission.CanAddUpdatePricingStructure))
                        {
                            <a class="btn btn-xs btn-outline-primary" href="@Url.Action("UpdateRetail", new { id= item.Id })">Update</a>
                        }
                        @if (User.HasAccess(SystemPermission.CanArchivePricingStructure))
                        {
                            <a class="btn btn-xs btn-outline-danger" href="#" onclick="ConfirmDelete('@Url.Action("Archive",  new { id = item.Id })', 'The @($"default retail price for {item.RetailBeerType} with an ABV of {item.RetailAbvLimit} at {item.RetailDefaultAbvPrice} unit price")')">Archive</a>
                        }
                        </td>
                </tr>

                oldabv = item.RetailAbvLimit.Value + 0.01m;
            }
        </tbody>
    </table>
</div>


@section Scripts{
    <script>

        InitFilterTable("#RetailSearch", "#RetailPricingStructureTable tbody");
        InitFilterTable("#WholeSaleSearch", "#WholeSalePricingStructureTable tbody");

    </script>
}
