@model MonksInn.Backend.Models.StockOrder.OrderStockPartialViewModel

<form onsubmit="SubmitStockOrder(event)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" onchange="ToggleAddNewBeer()" name="AddNewBeer" id="AddNewBeer" type="checkbox" value="true" @(Model.AddNewBeer ? "checked" : "") /> Create New Beer
            </label>
        </div>
    </div>
    <hr />

    <div id="AddNewBeerContainer" style="@(Model.AddNewBeer ? "" : "Display:none")">
        <div class="form-group">
            <label asp-for="BreweryName" class="control-label"></label>
            <div>
                <select asp-for="BreweryName" class="form-control">
                    <option></option>
                    @foreach (var item in Model.CurrentBreweries.OrderBy(a => a))
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
            <span asp-validation-for="BreweryName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BeerName" class="control-label"></label>
            <input asp-for="BeerName" class="form-control" />
            <span asp-validation-for="BeerName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Strength" class="control-label"></label>
            <input asp-for="Strength" type="number" step="0.01" min="0" class="form-control" />
            <span asp-validation-for="Strength" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BeerType" type="radio" value="@BeerType.Ale" /> Ale
                </label>
            </div>
            <div class=" form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BeerType" type="radio" value="@BeerType.Cider" /> Cider
                </label>
            </div>
            <div class=" form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BeerType" type="radio" value="@BeerType.Lager" /> Lager
                </label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubType" class="control-label"></label>
            <div>
                <select asp-for="SubType" class="form-control">
                    <option></option>
                    @foreach (var item in Model.CurrentTypes.OrderBy(a => a))
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
            <span asp-validation-for="SubType" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Notes" class="control-label"></label>
            <textarea rows="5" asp-for="Notes" class="form-control"></textarea>
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>

    </div>
    <div id="AddExistingBeerContainer" style="@(!Model.AddNewBeer ? "" : "Display:none")">
        <div class="form-group">
            <label asp-for="BeerId" class="control-label"></label>
            <select asp-for="BeerId" class="form-control">
                <option></option>
                @foreach (var item in Model.CurrentBeers)
                {
                    <option value="@item.Id">@item.BreweryName - @item.BeerName</option>
                }
            </select>
            <span asp-validation-for="BeerId" class="text-danger"></span>
        </div>
    </div>

    <hr />


    <div class="form-group">
        <label asp-for="UnitSize" class="control-label"></label>
        <select asp-for="UnitSize" class="form-control">
            <option></option>
            @foreach (var item in Model.UnitSizeList)
            {
                <option>@item</option>

            }
        </select>
        <span asp-validation-for="UnitSize" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Units" class="control-label"></label>
        <input asp-for="Units" type="number" step="1" min="0" class="form-control" />
        <span asp-validation-for="Units" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ETA" class="control-label"></label>
        <input asp-for="ETA" type="date" class="form-control" />
        <span asp-validation-for="ETA" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="CreateWeeklyOrder" /> @Html.DisplayNameFor(model => model.CreateWeeklyOrder)
        </label>
    </div>

    <div class="form-group text-right">
        <button type="submit" class="btn btn-sm btn-outline-primary">Order</button>
        <button type="button" data-dismiss="modal" class="btn btn-sm btn-outline-primary">Close</button>
    </div>
</form>


<script>
    $(document).ready(function () {
        $("#BreweryName").select2({
            tags: true
        });

        $("#SubType").select2({
            tags: true
        });

        $("#BeerId").select2({
        });
    });

    function ToggleAddNewBeer() {
        var check = $("#AddNewBeer").is(':checked');

        if (check) {
            $("#AddExistingBeerContainer").hide();
            $("#AddNewBeerContainer").show();
        }
        else {
            $("#AddNewBeerContainer").hide();
            $("#AddExistingBeerContainer").show();
        }
    }
</script>

